- title "Enquiry"

-@enquiry.enquiry_fields.each do |field|
  %strong="#{field.name.humanize}:"
  %br
  =field.value
  %br
  %br
%strong Sent on:
%br
=@enquiry.created_at.to_s(:short_date_and_time)
%br
  
  
-options_panel do
  =back_link
  = link_to "Delete", @enquiry, :confirm => 'Are you sure?', :method => :delete
  = link_to "View All", enquiries_path
