=semantic_form_for(enquiry, :url => enquiries_path(:id => enquiry.form_name)) do |form|
  =form.inputs do
    =form.input :form_name, :as => "hidden"
    =render("enquiries/#{@enquiry.form_name.downcase}_form", :enquiry => enquiry, :form => form)
  =form.actions do 
    =form.submit 'Send', :inner_html => {:data => {:loading_text => 'Sending...'}}, :class => 'btn btn-primary'
