%h1=title("Enquiries")
-if @enquiries.empty?
  %p
    There are currently no enquiries.
-else
  %table.table.sortable
    %tr
      %th
      %th Name
      %th Email
      %th Date
      %th{:colspan => 2}
    -@enquiries.each do |enquiry|
      %tr
        %td=enquiry.form_name.humanize
        %td=enquiry.full_name if enquiry.full_name.present?
        %td=enquiry.email_address if enquiry.email_address.present?
        %td=enquiry.created_at.to_s(:date_and_time)
        %td=link_to("More info", enquiry)
        %td
          =link_to(enquiry, :confirm => 'Are you sure?', :method => :delete) do
            %i.icon.icon-trash
            Delete
        
=options_panel do
  =back_link
