-params[:id] ||= params[:enquiry][:form_name]

%h1=title(@enquiry.form_title)
-if @enquiry.form_intro.present?
  %p=@enquiry.form_intro
=render("form", :enquiry => @enquiry)

-options_panel do
  =back_link